<!--
name: string;
description: string;
teacher: String;
style: String;
learningContext: String;
tags: string[];
created: string;
-->

<mat-card>
    <mat-card-title>
        <div (click)="navigateToTiesFilteredBy('name')" [editable]="isContentEditable" [binding]="tie" [property]="'name'"></div>
    </mat-card-title>
    <mat-card-subtitle>
        <span class="subtitle" [editable]="isContentEditable" [binding]="tie" [property]="'teacher'"></span>
        <span class="subtitle" [editable]="isContentEditable" [binding]="tie" [property]="'style'"></span>
        <span class="subtitle" [editable]="isContentEditable" [binding]="tie" [property]="'learningContext'"></span>
    </mat-card-subtitle>
    <!--
    <mat-card-subtitle>
        tags: <span class="tag-link" *ngFor="let tag of tie?.tags">{{tag}}</span>
    </mat-card-subtitle>
    -->
    <hr>
    <mat-card-content>
        <textarea *ngIf="isContentEditable" id="descriptionMarkdownEditable" [(ngModel)]="tie.description"></textarea>
        <div id="descriptionMarkdownDisplay" [innerHTML]="tie?.description | markdown"></div>
    </mat-card-content>

    <mat-card-actions>
        <button *ngIf="!isContentEditable" mat-stroked-button (click)="editClick()">Edit</button>
        <div *ngIf="isContentEditable">
            <button mat-stroked-button (click)="cancelClick()">Cancel</button>
            <button mat-stroked-button [disabled]="!tie?.isDirty" (click)="saveClick()">Save</button>
        </div>
    </mat-card-actions>
</mat-card>

<!--
<mat-card-title>	  Card title
<mat-card-subtitle>	  Card subtitle
<mat-card-content>	  Primary card content. Intended for blocks of text
<img mat-card-image>  Card image. Stretches the image to the container width
<mat-card-actions>	  Container for buttons at the bottom of the card
<mat-card-footer>	  Section anchored to the bottom of the card
 -->
